
<% if user_signed_in? %>
  <% if @tasks.any? %>
  <h1 style= "color: #4c0080">Tasks</h1>
  <table class="tasktable">
    <thead>
      <tr>
        <th><%= link_to "No", :sort => "id" %></th>
        <th><%= link_to "Task", :sort => "title" %></th>
        <th><%= link_to "Time left", :sort => "deadline" %></th>
        <th><%= link_to "Done", :sort => "done" %></th>

      </tr>
    </thead>

    <tbody >
      <% @tasks.each do |task| %>
        <tr>
          <td><%= task.id %></td>
          <td><%= link_to task.title, task %></td>
          <% @time=(task.deadline-Time.now.utc) %>
          <% if @time<0 %>
            <td> TIme pass :(</td>
          <% elsif @time<3600 %>
            <td><%= (@time/60).round%> min</td>
          <% elsif @time<86400 %>
            <td><%= (@time/3600).round%> hours</td>
          <% elsif @time<31536000 %>
            <td><%= (@time/86400).round%> days</td>
            <% else %>
              <td><%= (@time/31536000).round%> years</td>
          <% end %>
          <td><%= task.done %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
  <% else %>
    <div style= "color: #4c0080; text-align: center; margin-left: auto; margin-right: auto">
    <h1 >Sorry, NO tasks :(</h1>
    <%= link_to "Make your first task!", new_task_path %>
  </div>

  <% end %>
<% else %>
  <%= render 'welcome_page' %>
<% end %>
