
<% if user_signed_in? %>
  <% if @tasks.any? %>
  <h1 style= "color: #4c0080">Tasks</h1>
  <table class="tasktable">
    <thead>
      <tr>
        <th><%= link_to "No", :sort => "id" %></th>
        <th><%= link_to "Task", :sort => "title" %></th>
        <th>Hours left</th>
        <th><%= link_to "Done", :sort => "done" %></th>

      </tr>
    </thead>

    <tbody >
      <% @tasks.each do |task| %>
        <tr>
          <td><%= task.id %></td>
          <td><%= link_to task.title, task %></td>
          <td><%= ((task.deadline-Time.now.utc)/3600).round(2) %></td>
          <td><%= task.done %></td>

        </tr>
      <% end %>
    </tbody>
  </table>
  <% else %>
    <div style= "color: #4c0080; text-align: center; margin-left: auto; margin-right: auto">
    <h1 >Sorry, NO tasks :(</h1>
    <%= link_to "Make your first task!", new_task_path %>
  </div>

  <% end %>
<% else %>
  <%= render 'welcome_page' %>
<% end %>
